fastapi
uvicorn
pydantic
langchain
python-dotenv
openai
langchain-openai
langchain-community
PyPDF2
supabase
python-multipart
starlette
typing-extensions
fpdf
requests
duckduckgo-search
scikit-learn
beautifulsoup4
playwright
langchain-core

